@font-face { font-family: OpenSans; src: url('opensans/OpenSans-Regular.ttf'); } 
@font-face { font-family: OpenSans; font-weight: bold; src: url('opensans/OpenSans-Semibold.ttf');}
@font-face { font-family: OpenSans; font-weight: bolder; src: url('opensans/OpenSans-Semibold.ttf');}
@font-face { font-family: OpenSans; font-weight: lighter; src: url('opensans/OpenSans-Regular.ttf'); }
@font-face { font-family: OpenSans; font-weight: 500; src: url('opensans/OpenSans-Semibold.ttf'); }

body {
  padding-bottom: 0px;
  color: #5a5a5a;
  font-family: "OpenSans";
}

a {
color: white;
text-decoration: underline;
}

/* unvisited link */
a:link {
color: white;
text-decoration: underline;
}

/* visited link */
a:visited {
color: white;
text-decoration: underline;
}

/* mouse over link */
a:hover {
color: white;
text-decoration: underline;
}

/* selected link */
a:active {
color: white;
text-decoration: underline;
} 

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.carousel-inner > .item > img {
}
	

.container-fluid {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

div.row {
	margin-left: 0px;
	margin-right: 0px;
}

div.lavori {
        margin-top: 20px;
        margin-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
}

hr {
  padding-top: 1px;
  background-color: #44535f;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.storia {
	color: white;
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #a91936;
}

div.note-legali {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #44535f;
}

div.footer {
/*    border-top: 1px solid;
    border-bottom: 1px solid;*/
/*    padding-top: 15px;
    padding-bottom: 30px;	*/
    color: white;
    background-color: #44535f;
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
}

p.footer {
font-size: 15px;
text-align: right;
/*margin-bottom: 0px;
margin-top: 25px;*/
margin-top: 30px;
margin-bottom: 30px;
}

a.upper-footer {
padding-right: 12px;
/*padding-left: 13px;*/
font-size: 16px;
text-decoration: none;
}

a.upper-footer-last {
padding-right: 0px;
/*padding-left: 13px;*/
font-size: 16px;
text-decoration: none;
}

p.upper-footer {
margin-top: 30px;
padding-right: 0px;
padding-left: 0px;
}

p.upper-footer-right {
margin-top: 30px;
margin-bottom: 30px;
padding-right: 0px;
padding-left: 0px;
}

img.upper-footer {
/*margin-bottom: 25px;
margin-top: 20px;*/
padding-left: 13px;
}

img.footer {
margin-top: 30px;
margin-bottom: 30px;
}

div.pre-map {
height:30px;
background-color:#44535f;
border-bottom: 2px solid white;
}

@media (max-width: 768px) {
  .hide-if-small {
  display: none;
  }
}

