body {
  padding-bottom: 0px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 1200px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.carousel-inner > .item > img {
	height: auto;
}
	
/* PRAISE THE CHAOS GOD */

.container-fluid {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

div.row {
	margin-left: 0px;
	margin-right: 0px;
}

div.lavori {
	padding-left: 0px;
	padding-right: 0px;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

hr.lavori {
	margin-bottom: 70px;
}

hr.lavori-ultimo {
	margin-top: 25px;
	margin-bottom: 0px;
}

.intro {
	position: relative;
	background:url(copertina.jpg) no-repeat top center;
	height: 2000px; /*aaaaaaaaaahhahha*/
}

div.storia {
	color: white;
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #a91936;
}

div.note-legali {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #a91936;
}

div.footer {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;	
    color: white;
    background-color: #44535f;
    position: fixed;
    bottom: 0;
    width: 100%;
}
