body {
  padding-bottom: 0px;
  color: #5a5a5a;
}

/* PRAISE THE CHAOS GOD */

.container-fluid {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

div.row {
	margin-left: 0px;
	margin-right: 0px;
}

div.lavori {
	padding-left: 0px;
	padding-right: 0px;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

hr.lavori {
	margin-bottom: 150px;
}

hr.lavori-ultimo {
	margin-top: 85px;
	margin-bottom: 0px;
}

.intro {
	position: relative;
	background:url(copertina.jpg) no-repeat top center;
	height: 3000px; /*aaaaaaaaaahhahha*/
}

div.storia {
	color: white;
	padding-top: 85px;
	padding-bottom: 85px;
	background-color: #a91936;
}
